/* Place CSS styles here */

body {
    color: rgb(0, 0, 0);
    background-color: #f6f6f6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.revive-header {
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 80px;
    align-items: center;
}

.revive-nav {
    display: flex;
    float: right;
    align-items: right;
    
}

.logo {
    margin-left: 50px;
}

.revive-main-wrapper {
    background: #6bc4eb;
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.revive-featured-wrapper {
    display: flex;
    background-color: rgb(33, 104, 151);
    height: 100vh;
    flex-direction: column;
}

.container {
  align-items: center;
}

.white {
  
}
 
.girl {
    float: right;
    margin-top: 10px;
}

.revive-footer {
    background-color: #013850;
    height: 200px;
    
}

  
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
    height: 100%;
    align-items: center;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 50%;
  } 




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    color: #013850;
}

li {
    float: left;
    align-items: center;
    color: #013850;
}

li a {
    display: block;
    color: #013850;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #013850;
    color: white
}


.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#1f4a5c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #e5e7ec;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #154255;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #ffffff;
    color: #013850;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #013850;
  }
  
  #button {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }