/* Place CSS styles here */

body {
    color: rgb(0, 0, 0);
    background-color: #80C1D8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.revive-main-wrapper {
    background: #80C1D8;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.revive-featured-wrapper {
    display: flex;
    background-color: rgb(175,226,226);
    height: 100vh;
    flex-direction: column;
}

.revive-header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    height: 100px;
    align-items: center;
    justify-content: left;
}


.revive-main {
    background-color: #80C1D8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

body, html {
    height: 100%;
  }
  
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
    height: 50%;
    background-position: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  } 



.revive-footer {
    background-color: #013850;
    height: 500px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    color: #013850;
}

li {
    float: left;
    align-items: center;
    color: #013850;
}

li a {
    display: block;
    color: #013850;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #013850;
    color: white
}