/* Place CSS styles here */


body, html {
  height: 100%;
}


/* media query for phones */
@media (max-width: 480px) {
  body {
    background-color: #e45757;
  }

/* media query for tablet*/
@media (min-width: 481px) and (max-width: 767px) {
  body {
    background-color: purple;
  }
}

/* media query for desktop*/
@media (min-width: 768px) {
  body {
    background-color: green;
  }
}
}

body {
  color: rgb(0, 0, 0);
  background-color: #f6f6f6;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

p {
  margin-left: 15px;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: 481px) and (max-width: 767px) {
  p {
    font-size: 12px;
    line-height: 16px;
    margin-left: 10px;
    color: #e45757;
  }
}

@media (max-width: 480px) {
  p {
    font-size: 12px;
    line-height: 16px;
    margin-left: 10px;
    color: greenyellow;
  }
}

h1 {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 481px) and (max-width: 767px) {
  h1 {
    font-size: 28px;
    color: rgb(204, 195, 24);
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 18px;
    color: rgb(0, 255, 42);
    text-transform: uppercase;
    font-weight: bold;
  }
}

h2 {
  font-size: 15px;
  text-transform: uppercase;
  color: #366275;
  text-align: center;

}
@media (min-width: 481px) and (max-width: 767px)  {
  h2 {
    font-size: 10px;
    color: rgb(190, 209, 19);
    text-transform: uppercase;
    text-align: center;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 8px;
    color: rgb(21, 255, 0);
    text-transform: uppercase;
    text-align: center;
  }
}

h3 {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: -10px;
  margin-left: 15px;

}
@media (min-width: 481px) and (max-width: 767px)  {
  h3 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: -5px;
    margin-left: 10px;
    font-size: 12px;
    color: red;
  }
}

@media (max-width: 480px) {
  h3 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: -5px;
    margin-left: 10px;
    font-size: 12px;
    color: rgb(8, 255, 123);
  }
}


@media (min-width: 481px) and (max-width: 767px)  {
  h4 {
    font-size: 12px;
    color: red;
    text-transform: uppercase;
    float: right;
    margin-top: -5px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
}

h4 {
  font-size: 15px;
  text-transform: uppercase;
  float: right;
  margin-top: -5px;
  margin-bottom: 20px;
  margin-right: 20px;

}

h5 {
  font-size: 25px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 481px) and (max-width: 767px)  {
  h5 {
    font-size: 15px;
    color: red;
    text-align: center;
  }
}



/* Header and Nav */
.revive-header {
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 481px) and (max-width: 767px)  {
  .revive-header {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 480px) {
  .revive-header {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    justify-content: space-between;
  }
}

.revive-nav {
  display: flex;
  float: right;
  align-items: right;
}

.logo {
  margin-left: 50px;
  width: 100%;
}






/* Hero Wrapper */
.hero-wrapper {
  background: #6bc4eb;
  display: flex;
  flex-direction: column;
  height: 45.5vh;
}

@media (min-width: 481px) and (max-width: 767px)  {
  .hero-wrapper {
    background:#6bc4eb;
    display: flex;
    height: 45.5vh;
    flex-direction: column;
  }
}

@media (max-width: 480px)  {
  .hero-wrapper {
    background:#6bc4eb;
    display: flex;
    height: 45.5vh;
    flex-direction: column;
  }
}


.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media (min-width: 481px) and (max-width: 767px)  {
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

  }
}

@media (max-width: 480px)  {
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

  }
}

.hero {
  float: right;
  height: auto;
}

@media (min-width: 481px) and (max-width: 767px)  {
  .hero {
    float: right;
    height: auto;
    margin-left: 150px;
  }
}

@media (max-width: 480px) {
  .hero {
    float: right;
    height: auto;
    margin-left: 550px;
  }
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: #b3e3f8;
  width: 50%;
} 

@media (min-width: 481px) and (max-width: 767px)  {
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 20%;
    width: 25%;
    color: #b3e3f8;
  }
}

@media (max-width: 480px)  {
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 30%;
    width: 50%;
    color: #05fb74;
  }
}


/*BPA Wrapper*/
.bpa-wrapper {
  display: flex;
  background-color: #ffffff;
  height: 8vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 481px) and (max-width: 767px)  {
  .bpa-wrapper {
    flex-direction: column;
    display: flex;
    height: 6vh;
  }
}

@media (max-width: 480px)  {
  .bpa-wrapper {
    flex-direction: column;
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: space-between;
  }
}


.bpacontainer {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  margin-right: 15px;
  gap: 10px;
}

@media (min-width: 481px) and (max-width: 767px)  {
  .bpacontainer {
    display: flex;
  }
}

@media (max-width: 480px)  {
  .bpacontainer {
    align-items: center;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    gap: auto;
  }
}

.recycled {
  margin-right: 30px;
}

@media (max-width: 480px)  {
  .recycled {
    margin-right: 10px;
  }
}

.bpa-bit {
  margin-right: 30px;
}

@media (max-width: 480px)  {
  .bpa-bit {
    margin-right: 10px;
  }
}


.recycle {
  margin-right: 30px;
}

@media (max-width: 480px)  {
  .recycle {
    margin-right: 10px;
  }
}


.bpa {
  margin-right: 30px;
}

@media (max-width: 480px)  {
  .bpa {
    margin-right: 10px;
  }
}


.ocean {
  margin-right: 30px;
}

@media (max-width: 480px)  {
  .ocean {
    margin-right: 10px;
  }
}


/* Featured */
.revive-featured-wrapper {
  display: flex;
  background-color: #80C1D8;
  height: 100vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 481px) and (max-width: 767px)  {
  .revive-featured-wrapper {
    align-items: center;
    display: flex;
    height: 185vh;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 480px)  {
  .revive-featured-wrapper {
    align-items: center;
    display: flex;
    height: 185vh;
    flex-direction: column;
    justify-content: space-between;
  }
}

.container {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  gap: 50px;
}

@media (min-width: 481px) and (max-width: 767px)  {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 480px)  {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}



.whitewb {
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #ffffff;
  background-color: #ffffff;
  border-radius: 25px;
  width: 250px;
  height: 420px;
  position: relative;
  align-items: center;
  justify-content: center;
}




.bluewb {
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #ffffff;
  background-color: #ffffff;
  border-radius: 25px;
  width: 250px;
  height: 420px;
  align-items: center;
  justify-content: center;
  }


  
.greywb {
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #ffffff;
  background-color: #ffffff;
  border-radius: 25px;
  width: 250px;
  height: 420px;
  position: relative;
}


.seashell {
  align-items: center;
  margin-left: 10px;
}

.bluefin {
  align-items: center;
  margin-left: 10px;
}

.whitecap {
  align-items: center;
  margin-left: 10px;
}

.stars {
  float: left;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 20px;
}
 


/*RRR Wrapper*/
.rrr-wrapper {
  display: flex;
  background-color: #ffffff;
  height: 8vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 481px) and (max-width: 767px)  {
  .rrr-wrapper {
    flex-direction: column;
    display: flex;
    height: 6vh;
  }
}

@media (max-width: 480px) {
  .rrr-wrapper {
    flex-direction: column;
    display: flex;
    height: 8vh;
  }
}

@media (max-width: 480px)  {
  .rrrcontainer {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    gap: 1px;
    align-items: center;
  }
}

.rrrcontainer {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  margin-right: 15px;
  gap: 10px;
}



.reduce {
  margin-right: 30px;
}

.reuse {
  margin-right: 30px;

}

.recycle {
  margin-right: 30px;
}

.revive-image {
  margin-right: 30px;
  margin-left: 30px;
} 

/* Bottom Wrapper */
.bottom-wrapper {
  background: #366275;
  display: flex;
  height: auto;
  align-items: center;
}

.ad {
  width: 100%;
  height: auto;

}

@media (min-width: 481px) and (max-width: 767px)  {
  .ad {
    width: 100%;
    height: auto;
    margin-top: auto;
    margin-top: auto;
 
  }
}




/* Collapse Nav Button */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#1f4a5c;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #e5e7ec;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #154255;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #ffffff;
    color: #013850;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #013850;
  }
  
  #button {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}


/* Footer */
.revive-footer {
  background-color: #366275;
  height: 61.5vh;
  justify-content: space-between;
} 

@media (min-width: 481px) and (max-width: 767px)  {
  .revive-footer {
    background-color: #366275;
    height: 61.5vh;
    justify-content: space-between;
  }
}

.girl {
  float: right;
  margin-top: 150px;  
}

@media (min-width: 481px) and (max-width: 767px)  {
  .girl {
    float: right;
    margin-top: 225px;
    width: 50%;
    height: 50%;
  }
}

.footer {
  align-items: center;
  float: left;
  margin-top: 100px;
  margin-left: 100px;
}

@media (min-width: 481px) and (max-width: 767px)  {
  .footer {
    align-items: center;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
  }
}
    
.forum {
  align-items: center;
  margin-left: 50px;
}
    
@media (min-width: 481px) and (max-width: 767px)  {
  .forum {
    align-items: center;
    margin-left: 25px;
  }
}





/*Sign Up*/
.forum-signup {
  align-items: center;
  margin-left: 50px;
  margin-bottom: 50px;
}


.forum-wrapper {
  background: #6bc4eb;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-between;
}


.forum-image {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ocean1 {
  float: right;
  align-items: center;
  margin-top: 120px;
  margin-right: 100px;

}
 
@media (min-width: 481px) and (max-width: 767px) {
  .ocean1 {
    float: right;
    align-items: center;
    margin-top: 50px;
    margin-right: 145px;
  }
}

.forum-text,
.forum-text2 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  width: 50%;
} 

@media (min-width: 481px) and (max-width: 767px) {
  .forum-text {
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    width: 70%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .forum-text2 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    width: 70%;
  }
}

/*About Us*/
.about-signup {
  align-items: center;
  margin-left: 50px;
  margin-bottom: 50px;
}


.about-wrapper {
  background: #6bc4eb;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-between;
}

.about-image {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.about-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fefefe;
  width: 70%;
} 

.blue {
  float: right;
  align-items: center;
  margin-top: 80px;
  margin-right: 100px;

}

@media (min-width: 481px) and (max-width: 767px) {
  .blue {
    float: right;
    align-items: center;
    margin-top: 80px;
    margin-right: 50px;
  }
}