/* Place CSS styles here */

body {
  color: rgb(0, 0, 0);
  background-color: #f6f6f6;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

p {
  margin-left: 15px;
  font-size: 14px;
  line-height: 18px;
}



h1 {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 15px;
  text-transform: uppercase;
  color: #366275;
  text-align: center;

}

h3 {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: -10px;
  margin-left: 15px;

}

h4 {
  font-size: 15px;
  text-transform: uppercase;
  float: right;
  margin-top: -5px;
  margin-bottom: 20px;
  margin-right: 20px;

}

h5 {
  font-size: 25px;
  text-align: center;
  color: #ffffff;
}



/* Header and Nav */
.revive-header {
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

.revive-nav {
  display: flex;
  float: right;
  align-items: right;
    
}

.logo {
  margin-left: 50px;
}


/* Hero Wrapper */
.hero-wrapper {
  background: #6bc4eb;
  display: flex;
  flex-direction: column;
  height: 50vh;
}

.hero-image {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero {
  float: right;
}
  
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: #b3e3f8;
  width: 50%;
} 



/*BPA Wrapper*/
.bpa-wrapper {
  display: flex;
  background-color: #ffffff;
  height: 8vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bpacontainer {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  margin-right: 15px;
  gap: 10px;
}

.recycled {
  margin-right: 30px;
}

.bpa-bit {
  margin-right: 30px;
}

.recycle {
  margin-right: 30px;
}

.bpa {
  margin-right: 30px;
}

.ocean {
  margin-right: 30px;
}



/* Featured */
.revive-featured-wrapper {
  display: flex;
  background-color: #80C1D8;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25px;
  margin-right: 25px;
  gap: 50px;
}

.whitewb {
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #ffffff;
  background-color: #ffffff;
  border-radius: 25px;
  width: 250px;
  height: 420px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.bluewb {
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #ffffff;
  background-color: #ffffff;
  border-radius: 25px;
  width: 250px;
  height: 420px;
  position: relative;
}

.greywb {
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #ffffff;
  background-color: #ffffff;
  border-radius: 25px;
  width: 250px;
  height: 420px;
  position: relative;
}

.seashell {
  align-items: center;
  margin-left: 10px;
}

.bluefin {
  align-items: center;
  margin-left: 10px;
}

.whitecap {
  align-items: center;
  margin-left: 10px;
}

.stars {
  float: left;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 20px;
}
 



/*RRR Wrapper*/
.rrr-wrapper {
  display: flex;
  background-color: #ffffff;
  height: 8vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.rrrcontainer {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  margin-right: 15px;
  gap: 10px;
}

.reduce {
  margin-right: 30px;
}

.reuse {
  margin-right: 30px;

}

.recycle {
  margin-right: 30px;
}

.revive-image {
  margin-right: 30px;
  margin-left: 30px;
} 

/* Bottom Wrapper */
.bottom-wrapper {
  background: #e45757;
  display: flex;
  flex-direction: column;
  height: 75vh;
}

.grayscale {
  flex-direction: column;
}


/* Collapse Nav Button */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#1f4a5c;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #e5e7ec;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #154255;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #ffffff;
    color: #013850;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #013850;
  }
  
  #button {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

/* Footer */
.revive-footer {
  background-color: #366275;
  height: 61.5vh;
  justify-content: space-between;
} 
  
.girl {
  float: right;
  margin-top: 150px;  
  
}

.footer {
  align-items: center;
  float: left;
  margin-top: 100px;
  margin-left: 100px;
}
    
.forum {
  align-items: center;
  margin-left: 50px;
}
    


/*Sign Up*/
.forum-signup {
  align-items: center;
  margin-left: 50px;
  margin-bottom: 50px;
}


.forum-wrapper {
  background: #6bc4eb;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-between;
}

.forum-image {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ocean1 {
  float: right;
  align-items: center;
  margin-top: 120px;
  margin-right: 100px;

}
  
.forum-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  width: 50%;
} 


/*About Us*/
.about-signup {
  align-items: center;
  margin-left: 50px;
  margin-bottom: 50px;
}


.about-wrapper {
  background: #6bc4eb;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-between;
}

.about-image {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


  
.about-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: #fefefe;
  width: 50%;
} 

.blue {
  float: right;
  align-items: center;
  margin-top: 80px;
  margin-right: 100px;

}

