/* Place CSS styles here */

body {
  color: rgb(0, 0, 0);
  background-color: #f6f6f6;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


h1 {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: -15px;
}

h3 {
  font-size: 15px;
  text-transform: uppercase;
  float: right;
  margin-top: -10px;
}


/* Header and Nav */
.revive-header {
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

.revive-nav {
  display: flex;
  float: right;
  align-items: right;
    
}

.logo {
  margin-left: 50px;
}


/* Main */
.revive-main-wrapper {
  background: #6bc4eb;
  display: flex;
  flex-direction: column;
  height: 50vh;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
  height: 100%;
  align-items: center;
  background-size: cover;
  position: relative;
}
  
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 50%;
} 


/* Featured */
.revive-featured-wrapper {
  display: flex;
  background-color: rgb(33, 104, 151);
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  gap: 50px;
}

.whitewb {
  margin-left: auto;
  margin-right: auto;
}

.bluewb {
  margin-left: auto;
  margin-right: auto;
}

.greywb {
  margin-left: auto;
  margin-right: 50px;
}
 


/* Collapse Nav Button */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#1f4a5c;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #e5e7ec;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #154255;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #ffffff;
    color: #013850;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #013850;
  }
  
  #button {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

/* Footer */
.revive-footer {
  background-color: #013850;
  height: 350px;
} 
  
.girl {
  float: right;
  margin-top: 100px;
}
    
    
